
// Fonts styles for Tablet and desktop

@mixin font-extra-large-tab-desktop {
    font-size: 60px ;
    font-weight: 700;
}
@mixin font-large-tab-desktop {
    font-size: 36px;
    font-weight: 700;
}

@mixin font-medium-tab-desktop {
    font-size: 24px;
    font-weight: 500;
}

@mixin font-small-tab-desktop {
    font-size: 14px;
    font-weight: 400;
}

@mixin font-small-bold-tab-desktop {
    font-size: 14px;
    font-weight: 700;
}



// Font styles for Mobile

@mixin font-extra-large-mobile {
    font-size: 24px;
    font-weight: 700;
}

@mixin font-large-mobile {
    font-size: 16px;
    font-weight: 500;
}

@mixin font-medium-mobile {
    font-size: 14px;
    font-weight: 600;
}

@mixin font-small-mobile {
    font-size: 13px;
    font-weight: 400;
}

@mixin font-small-bold-mobile {
    font-size: 13px;
    font-weight: 700;
}

@mixin font-extra-small-mobile {
    font-size: 10px;
    font-weight: 400;
}




