

// COLORS

$primary-black : #323232 ;
$primary-silver : #AFAFAF;
$primary-black : #FFFFFF;

$secondary-black: #000000;
$secondary-silver: #E1E1E1;
$secondary-white: #FAFAFA;

// BREAKPOINTS

$mobile-breakpoint: 320px 
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
