@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts";

* {
    box-sizing: border-box;
    margin:0;
}

html, body {
    font-family: 'Nunito Sans';   
}



// HEADER and NAVIGATION LIST

.header {
    // font-size: 24px;
    // font-weight: 700;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;  
    background-color: $primary-black; 
    color: $primary-white;
    

    &__navigation {
        &--list {
            display: flex;
            gap: 80px;
            list-style: none;
            justify-content: space-between;
            padding: 0;
            margin:0;
        }

        &--list-link {
            text-decoration: none;
            background-color: $primary-black; 
            color: $primary-white;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
        }   
        &--list-link:hover {
            font-weight: 700;;
        }

    }
} 

.header__band-site--logo {
    height: 20px;
    width: 120px;
}

// HERO BLOCK

.hero__block {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    color: $primary-white;
    // padding: 0 16px;
}

.hero__block-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    padding: 0 16px;
}

// ABOUT THE MUSICIANS

.about-musicians {
    padding: 0 16px;
}

.about-musicians {
    background-color: $primary-white;
}

.about-musicians__title {
    padding-top: 24px;
    padding-bottom: 16px;
}

.about-musicians__image-section {
    font-size: 14px;
    font-weight: 600 ;   
}

.band-image {
    height: 160px;
    width: 100%;
    margin: 0;    
}

.about-musicians__quote{
    margin-top: 16px;
    margin-bottom: 8px;
    line-height: 22px;
}

.about-musicians__lead-vocalist {
    margin-top: 0;
}


.about-musicians__band-title {
    font-size: 16px;
    font-weight: 400 ;
    padding-top: 24px;
}

.about-musicians__band-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 0;
}

// PHOTO GALLERY

.photo-gallery {
    padding: 16px;
    background-color: $secondary-white;

    &__title{
        padding-top: 8px;
        padding-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
    }

    &__images {
        display:flex;
        flex-direction: column;
        gap: 16px;
    
        &--image {
            height: 160px;
            width: 100%;           
        }
    }
}


// FOOTER

.footer {
    padding: 16px 16px;
    background-color: $primary-black;
    color: $primary-white;


    &__title {
        padding-top: 24px;
        padding-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
    }

    &__social-icons {
        display: flex;
        gap: 24px;
    
        &--image{
            height: 30px;
        }
    }
}

.footer__company--details-block {
    padding: 8px 0;
}

.footer__company--details {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;

    &__company--name,

    &__company--address{
        font-size: 14px;
        font-weight: 600;
    }

    .footer__company--email {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
    }
}


.footer__bandsite-logo{
    padding: 24px 0 16px 0;

    &__bandsite-logo--image {
    height: 20px;
    width: 120px;
    
    }
}

.footer__copyright {
    font-size: 14px;
    font-weight: 400;
}