@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts";

* {
    box-sizing: border-box;
    margin:0;
}

html, body {
    font-family: 'Nunito Sans';   
}


//  HEADER

.header {
    background-color: $primary-black;
    

    @include tablet {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        height: 80px;
    }

    &__title {   
        display: flex;
        justify-content: center;
        padding: 24px 36px;
          
        &--logo {
        height: 20px;
        width: 120px;
        }    
    }

    &__navigation {
        width: 100%;
               
        &--list {
            padding: 0;
            display: flex;
            justify-content: space-around; 
            list-style: none;    
            
            .header__list {               
                width: 50%;
                display: flex;
                justify-content: center;
                padding-bottom: 6px;
                border-bottom: 5px solid $primary-black;
                
                @include mobile {
                    &:hover {
                        border-bottom: 5px solid $primary-white;                      
                    }

                    &:active {
                        font-weight: bold;
                        outline: none;
                    }
                }

                &--link {
                    text-decoration: none;
                    color: $primary-white;                      
                }                        
            }
        } 

        @include tablet {
            width: 25%;
            height: 100%;
                   
            &--list {
                width: 100%;              
                height: 100%;
                              
                .header__list {
                    border-bottom: none;
                    padding: 0%;
                    height: 100%;
                                         
                    &--link {
                        height:100%;
                        display: flex;
                        align-items: center;
                        border-bottom: 5px solid red;

                        &:hover {
                            border-bottom: 5px solid $primary-white;                      
                        }
        
                        &:active {
                            font-weight: bold;
                            outline: none;                       
                        }
                    }
                }
            }
        }
    }
}

// HERO BLOCK

.hero__block {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    color: $primary-white;
    
    @include mobile {
        height: 200px;
    }

    @include tablet {
        height: 440px;
    }

    &--title {
        display: flex;
        align-items: center;

        @include mobile {
            font-size: 24px;
            font-weight: 700;
            padding: 0 16px;
        }

        @include tablet {
            padding: 0 36px;
            font-size: 60px;
            font-weight: 700;
        }
    }
}


// ABOUT THE MUSICIANS

.about-musicians {
    padding: 0 16px;
}

.about-musicians {
    background-color: $primary-white;
}

.about-musicians__title {
    padding-top: 24px;
    padding-bottom: 16px;
}

.about-musicians__image-section {
    font-size: 14px;
    font-weight: 600 ;   
}

.band-image {
    height: 160px;
    width: 100%;
    margin: 0;    
}

.about-musicians__quote{
    margin-top: 16px;
    margin-bottom: 8px;
    line-height: 22px;
}

.about-musicians__lead-vocalist {
    margin-top: 0;
}


.about-musicians__band-title {
    font-size: 16px;
    font-weight: 400 ;
    padding-top: 24px;
}

.about-musicians__band-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 0;
}

// PHOTO GALLERY

.photo-gallery {
    padding: 16px;
    background-color: $secondary-white;

    &__title{
        padding-top: 8px;
        padding-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
    }

    &__images {
        display:flex;
        flex-direction: column;
        gap: 16px;
    
        &--image {
            height: 160px;
            width: 100%;           
        }
    }
}


// FOOTER

.footer {
    padding: 16px 16px;
    background-color: $primary-black;
    color: $primary-white;


    &__title {
        padding-top: 24px;
        padding-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
    }

    &__social-icons {
        display: flex;
        gap: 24px;
    
        &--image{
            height: 30px;
        }
    }
}

.footer__company--details-block {
    padding: 8px 0;
}

.footer__company--details {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;

    &__company--name,

    &__company--address{
        font-size: 14px;
        font-weight: 600;
    }

    .footer__company--email {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
    }
}


.footer__bandsite-logo{
    padding: 24px 0 16px 0;

    &__bandsite-logo--image {
    height: 20px;
    width: 120px;
    
    }
}

.footer__copyright {
    font-size: 14px;
    font-weight: 400;
}