@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/Font/NunitoSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/Font/NunitoSans-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/Font/NunitoSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: "Nunito Sans";
}

.header {
  background-color: #323232;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
  }
}
.header__title {
  display: flex;
  justify-content: center;
  padding: 24px 36px;
}
.header__title--logo {
  height: 20px;
  width: 120px;
}
.header__navigation {
  width: 100%;
}
.header__navigation--list {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.header__navigation--list .header__list {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
  border-bottom: 5px solid #323232;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__navigation--list .header__list:hover {
    border-bottom: 5px solid #FFFFFF;
  }
  .header__navigation--list .header__list:active {
    font-weight: bold;
    outline: none;
  }
}
.header__navigation--list .header__list--link {
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__navigation {
    width: 25%;
    height: 100%;
  }
  .header__navigation--list {
    width: 100%;
    height: 100%;
  }
  .header__navigation--list .header__list {
    border-bottom: none;
    padding: 0%;
    height: 100%;
  }
  .header__navigation--list .header__list--link {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 5px solid red;
  }
  .header__navigation--list .header__list--link:hover {
    border-bottom: 5px solid #FFFFFF;
  }
  .header__navigation--list .header__list--link:active {
    font-weight: bold;
    outline: none;
  }
}

.hero__block {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__block {
    height: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__block {
    height: 440px;
  }
}
.hero__block--title {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__block--title {
    font-size: 24px;
    font-weight: 700;
    padding: 0 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__block--title {
    padding: 0 36px;
    font-size: 60px;
    font-weight: 700;
  }
}

.about-musicians {
  padding: 0 16px;
}

.about-musicians {
  background-color: #FFFFFF;
}

.about-musicians__title {
  padding-top: 24px;
  padding-bottom: 16px;
}

.about-musicians__image-section {
  font-size: 14px;
  font-weight: 600;
}

.band-image {
  height: 160px;
  width: 100%;
  margin: 0;
}

.about-musicians__quote {
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 22px;
}

.about-musicians__lead-vocalist {
  margin-top: 0;
}

.about-musicians__band-title {
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
}

.about-musicians__band-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 0;
}

.photo-gallery {
  padding: 16px;
  background-color: #FAFAFA;
}
.photo-gallery__title {
  padding-top: 8px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}
.photo-gallery__images {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.photo-gallery__images--image {
  height: 160px;
  width: 100%;
}

.footer {
  padding: 16px 16px;
  background-color: #323232;
  color: #FFFFFF;
}
.footer__title {
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}
.footer__social-icons {
  display: flex;
  gap: 24px;
}
.footer__social-icons--image {
  height: 30px;
}

.footer__company--details-block {
  padding: 8px 0;
}

.footer__company--details {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
}
.footer__company--details__company--name, .footer__company--details__company--address {
  font-size: 14px;
  font-weight: 600;
}
.footer__company--details .footer__company--email {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.footer__bandsite-logo {
  padding: 24px 0 16px 0;
}
.footer__bandsite-logo__bandsite-logo--image {
  height: 20px;
  width: 120px;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=bio.css.map */